@model MeuConsultorio.Models.Procedimento

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja mesmo excluir esse registro?</h3>
<fieldset>
    <legend>Procedimento</legend>

    <div class="display-label">Codigo</div>
    <div class="display-field">@Model.Codigo</div>

    <div class="display-label">Descricao</div>
    <div class="display-field">@Model.Descricao</div>

    <div class="display-label">TipoAtendimento</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.TipoAtendimento).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar para lista", "Indice")
    </p>
}


